<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pokemon</title>
</head>
<body>
    <h1>Edit Your Pokemon</h1>
    <form action="/allPokemon/<%= index %>?_method=PUT" method="POST">


        Name<input type="text" name="name" value="<%=poke.name%>"><br>
        <br>

        Image<input type="image url" name="img" value="<%=poke.img%>"><br>
        <br>

        Type<input type="text" name="type" value="<%=poke.type%>"><br>
        <br>
        
        HP<input type="text" name="stats" value="<%=poke.stats.hp%>"><br>
        <br>
        
        Attack<input type="text" name="stats" value="<%=poke.stats.attack%>"><br>
        <br>
        
        Defense<input type="text" name="stats" value="<%=poke.stats.defense%>"><br>
        <br>
        
        SP Attack<input type="text" name="stats" value="<%=poke.stats.spattack%>"><br>
        <br>
        
        SP Defense<input type="text" name="stats" value="<%=poke.stats.spdefense%>"><br>
        <br>
        
        Speed<input type="text" name="stats" value="<%=poke.stats.speed%>"><br>
        <br>

        <input type="submit" value="Edit Pokemon">

    </form>
</body>
</html>